/*------------------------------------------------Universal*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    line-height: 33px;
}

/*------------------------------------------------bg-colors*/

.bg-color-nav,
.bg-color-dropdown,
.my-section {
    background-color: #01111d;
}

/*------------------------------------------------Navigation*/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.dropdown-menu,
.navbar-toggler {
    border-style: none;
    transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
}

.nav-items {
    color: #fff!important;
    transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;

}

.nav-items:hover {
    color: #c5c5c3!important;
    transform: scale(1.1);
}

.dropdown-item:hover {
    background-color: #031522!important;
    transform: scale(1.1);
}

/*------------------------------------------------Landing Page*/

.bg-img1,
.bg-img2 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.bg-img1 {
    background-image: url(../img/img-1.jpg);
    min-height: 100%;
}

.bg-img2 {
    background-image: url(../img/img-2.jpg);
    min-height: 100%;
}

.my-section {
    text-align: center;
    padding: 10px 10px; 
    color: #fff;
    letter-spacing: 4px;
    font-size: 14px;
}

.heading-text {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.heading {
    padding: 0 5px;
}

.contact-link {
    color: #fff;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: none;
    color: #d6d6d6;
}

.contact-info {
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
}

.contact-info-key,
.contact-info-value {
    letter-spacing: 4px;
}

/*------------------------------------------------Pricing*/

.my-container {
    background-image: url(../img/img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 75px 0 0 0;

}

.package-container {
    background-color: #01111d;
    opacity: 0.8;
    border: #fff 1px solid;
    border-radius: 10px;
    width: 82%;
    margin: 20px auto 0;
    padding: 10px;
}

.package-heading,
.package-price {
    text-align: center;
}
 
.form-text {
    width: 82%;
    margin: 20px auto;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    background-color: #01111d;
    opacity: 0.8;
    border: 1px solid #fff;
    border-radius: 10px;
 }

 .my-form {
     width: 300px;
     margin: auto;
     text-align: center;
     font-size: 16px;
     background-color: #01111d;
     opacity: 0.8;
     border: 1px solid #fff;
     border-radius: 10px;
 }

 .my-button {
     margin: 15px;
     border: 1px solid #fff;
     border-radius: 10px;
     background-color: #01111d;
     color: #fff;
     cursor: pointer;
     transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
 }

 .my-button:hover {
    color: #c5c5c3;
    transform: scale(1.1);
 }

 /*------------------------------------------------Wedding/Parties*/

.wedding,
.parties {
    background-color: #01111d;
    padding: 70px 0 0 0;
}
.gallery {
    margin: 10px 10px 0;
}

.gallery img {
    width: 100%;
    height: auto;
    padding: 5px;
    border: 1px solid #fff;
    transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
}

.gallery img:hover {
    transform: scale(0.9);
}

/*------------------------------------------------Reviews*/

.wrapper {
    background-color: #01111d;
}

.review-one,
.review-two {
    color: #fff;
    padding: 20% 5% 0;
    text-align: center;
}
 
.review {
    margin: 0;
    letter-spacing: 2px;
    color: #fff;
}

.name {
    font-style: italic;
    text-transform: uppercase;
}



/*------------------------------------------------Footer*/

.container-fluid {
    padding: 0;
}

.my-footer {
    background-color: #01111d;
    padding: 0;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.social-links {
    text-align: center;
    margin: 0;
}

.social-links i {
    color: #fff;
    transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;

}

.social-links i:hover {
    color: #c5c5c3;
    transform: scale(1.3);
}

/*------------------------------------------------Media Queries*/

@media (min-width: 768px) {
    .bg-img1,
    .bg-img2 {
        background-attachment: fixed;
    }
    .wedding,
    .parties {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .gallery {
        width: 500px;
        height: auto;
    }
    
    .review-one {
        text-align: left;
    }

    .review-two {
        text-align: right;
    }

    .review-one,
    .review-two {
        padding: 10%;
    }
}

@media (min-width: 1296px) {
    .review-one,
    .review-two {
        padding: 5%;
    }
}